@model kmcmvc.Areas.Admin.Data.kmc_emp_rebate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>kmc_emp_rebate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.inword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_cnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_cnic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outstanding_Arrears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outstanding_Arrears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.after_rebate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.after_rebate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
