@model kmcmvc.Areas.Admin.Data.MUCTBill_Records

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MUCTBill_Records</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsumerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdby)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MUCTBillID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
