@model kmcmvc.Areas.Admin.Data.partPayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>partPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.consumer_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issue_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issue_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.due_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.due_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billing_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billing_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.part_payment_into)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.part_payment_into)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_Charges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_Charges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outstanding_Arrears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outstanding_Arrears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.part_payemnt_arrears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.part_payemnt_arrears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
