@model kmcmvc.Areas.Admin.Data.partPayment

@{
    ViewBag.Title = "Update MUCT Part Payment";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Inputs Validation start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Update MUCT Part Payment </h5>
                                @*<span>Add town of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>*@
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.sno)
                            </div>
                            <div class="card-block">
                                <form id="main" method="post" action="/" novalidate>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Consumer No #</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.consumer_no, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.consumer_no, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Consumer Code</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.consumer_code, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.consumer_code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Consumer Name</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.consumer_name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.consumer_name, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Address</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.consumer_address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.consumer_address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Category</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Area</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Issued Date</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.issue_date, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.issue_date, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Due Date</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.due_date, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.due_date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Billing Month</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.billing_month, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.billing_month, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Part Panyment Into</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.part_payment_into, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.part_payment_into, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Current Charges</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.current_Charges, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.current_Charges, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Arrears</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.outstanding_Arrears, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.outstanding_Arrears, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Part Payment Arrears</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.part_payemnt_arrears, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.part_payemnt_arrears, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Created By</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.createdby, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.createdby, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Created On</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.createdon, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.createdon, "", new { @class = "text-danger" })
                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Status</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Barcode</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.barcode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.barcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary m-b-0">Submit</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- Basic Inputs Validation end -->
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
            <!-- Page body end -->
        </div>
    </div>
</div>
       
}

