@model kmcmvc.Areas.Admin.Data.Rebate_cancle_history

@{
    ViewBag.Title = "Add Rebale Cancle";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Inputs Validation start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add MUCT Rebale Cancle </h5>
                                    @*<span>Add town of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>*@
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="card-block">
                                    <form id="main" method="post" action="/" novalidate>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Inword No</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.inwordno, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.inwordno, "", new { @class = "text-danger" })
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Consumer No</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.consumer_no, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.consumer_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Consumer Name</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.consumer_name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.consumer_name, "", new { @class = "text-danger" })
                                                <span class="messages"></span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Old Arrears</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.pervious_outstanding, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.pervious_outstanding, "", new { @class = "text-danger" })
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Rebate Arrears</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.after_rebate_outstanding, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.after_rebate_outstanding, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Difference</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.difference, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.difference, "", new { @class = "text-danger" })
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Difference Percentage</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.difference_percentage, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.difference_percentage, "", new { @class = "text-danger" })
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Cancled By</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.cancledby, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.cancledby, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Cancled On</label>
                                            <div class="col-sm-10">
                                                @Html.EditorFor(model => model.cancledon, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.cancledon, "", new { @class = "text-danger" })
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        

                                        <div class="form-group row">
                                            <label class="col-sm-2"></label>
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary m-b-0">Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!-- Basic Inputs Validation end -->
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>

}

